<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Page Not Found</title>
  <link rel="stylesheet" href="{{ .Site.BaseURL }}/css/theme.min.css">
  <style>
    body {
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 100vh; /* Ensures it takes full viewport height */
      margin: 0;
      text-align: center; /* Centers the text inside the container */
    }
    main {
      padding: 20px;
    }
    h1 {
      font-size: 2rem;
      color: #333;
    }
    a {
      color: #007bff;
      text-decoration: none;
    }
    a:hover {
      text-decoration: underline;
    }
  </style>
</head>
<body>
  <header>
    {{ partial "header.html" . }}
    <h1>404: Page not found, it must've gotten lost in the blockchain. 🔗</h1>
  </header>
  <main>
    <a href="{{ .Site.BaseURL }}">Return to Home</a>
  </main>
  {{ partial "footer.html" . }}
</body>
</html>
