<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Page Not Found</title>
  <link rel="stylesheet" href="{{ .Site.BaseURL }}/css/theme.min.css">
  <style>
    /* Class to center only the div with the 404 page content */
    .center-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100vh; /* Full viewport height */
      text-align: center;
    }

    h1 {
      font-size: 2rem;
      color: #333;
    }

    a {
      color: #007bff;
      text-decoration: none;
    }

    a:hover {
      text-decoration: underline;
    }
  </style>
</head>
<body>
  <div class="center-content">
    {{ partial "header.html" . }}
    <h1>404: Page not found, it must've gotten lost in the blockchain. 🔗</h1>
    <a href="{{ .Site.BaseURL }}">Return to Home</a>
    {{ partial "footer.html" . }}
  </div>
</body>
</html>
